[gpg]
    format = ssh
[user]
	name = toni
	email = tmunozferrer@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDkMibsDEKgcJDthCPFHzuQ9vgPt9eA4ZaGWuFZrvF1U
[core]
	editor = code
	excludesfile = ~/.gitignore
    
